@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: monospace;
}


li {
  list-style: none;
}



.icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: start;
  font-weight: 700;
  padding-top: 1rem;
}

.project-image {
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

@media (min-width: 752px) {
  .icon {
    width: 96px;
    height: 96px;
  }
}
